.check-box .box {

-fx-background-color: white;
-fx-border-color:white;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: #303030;

}

.check-box:selected .box {
-fx-border-color: #d46837;
-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
                              #9d4024,
                              #d86e3a,
                              radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);;

}